.navbar-brand img {
    width: 32px;
    height: 32px;
  }

@each $suffix, $size in (lg: 9rem, md: 6rem, cp:4rem, sm: 3rem, xs: 1.5rem) {
  .img-#{$suffix} {
    width: $size;
    height: $size;
  }
}

.table-properties {

  th {
      font-weight: normal;
      width: 15rem;
  }

  td {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  } 

  tr:first-child {
      td, th {
          border-top: none!important;
      }
  }
}

[contenteditable="true"] {
    white-space: nowrap;
    overflow: hidden;

    br {
        display:none;
    }

    * {
        display:inline;
        white-space:nowrap;
    }
} 

.noborder {
    border: none;
  }

.jumbotron {
    background-color: transparent;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 1rem;
}

.jumbotron img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}

.bs-stepper-circle {
    background-color: #c0c0c0;
}

.active .bs-stepper-circle {
    background-color: #808080;
}

.bs-stepper-label {
   color: #c0c0c0;
}

.active .bs-stepper-label {
   color: #808080;
}
  