---
permalink: "test/auth0.html"
---
{% extends "_test.njk" %}

{% block subtitle %}Auth0 Test Page{% endblock %}
{% block icon %}/icon/auth0.svg{% endblock %}

{% block head %}
{{ super() }}
  <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
{% endblock %}

{% block content %}
<div class="container before-login mt-3" style="display: none;">
  <p><a href="https://auth0.com">Auth0</a> integration test page. You can try how authentication works with Auth0 Social Connection integration.
   As the first step of the login process, you need to select the source of authentication. You have two options:
   <ul>
     <li>PhantAuth: Using the PhantAuth default tenant to log in.</li>
     <li>Domain: Using the domain tenant containing the PhantAuth tenants to log in. In this case, you need to select the tenant you want to use from the available ones (6–8) on a new page.</li>
   </ul>

   After a successful login, the profile page opens. You can log out by clicking on the logout button try to log in again.
   </p>
   <p>
     This page uses <a href="https://auth0.com/docs/libraries/auth0js/">Auth0.js</a> SDK for authentication.
  </p>
</div>
{% endblock %}

{% block script %}
{% include "auth0.js" %}
{% endblock %}
